.navlink{
    font-family: 'Poppins', sans-serif;
}
.progress{
    
    width: 1000px;
    height: 6px;
    /* background: #fff; */
    border-radius: 0;
    box-shadow: none;
    margin-top: 70px;
    overflow: visible;
}
.progress .progress-bar{
    box-shadow: none;
    border-radius: 5px;
    position: relative;
    animation: animate-positive 2s;
}
.progress .progress-title{
    padding: 3px 10px;
    margin: 0;
    min-width: 100px;
    font-size: 14px;
    font-weight: 700;
    color: #282828;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    /* background: #fff; */
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.14);
    position: absolute;
    top: -10px;
    left: 0;
}
.progress .progress-value{
    width: 50px;
    height: 25px;
    font-size: 14px;
    font-weight: 600;
    /* color: #fff; */
    line-height: 25px;
    border-radius: 4px;
    position: absolute;
    top: -40px;
    right: 0;
}
.progress.pink .progress-bar,
.progress.pink .progress-value{ background: #ff007f; }
.progress.green .progress-bar,
.progress.green .progress-value{ background: #73cd21; }
.progress.blue .progress-bar,
.progress.blue .progress-value{ background: #2e9ce0; }
.progress.yellow .progress-bar,
.progress.yellow .progress-value{ background: #eea921; }
.progress.red .progress-bar,
.progress.red .progress-value{ background: #ff014f; }
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}
/* skill bar */
.skills {
  position: relative;
  top: 50%;
  left: 50%;
  /* border: 1px solid black; */
  transform: translate(-50%, -50%);
  /* background: #fff; */
  border-radius: 10px;
  margin-top: -25px;
}

/* .skills-bar {
  padding: 25px 30px;
} */

.skills-bar .bar {
  margin: 20px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #07374a;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 450px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background:#facf0f;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  text-transform: uppercase;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  /* border: 1px solid black;cd  */
  
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 80%;
}
.progress-line .css {
  width: 70%;
}
.progress-line .bootstrap {
  width: 82%;
}
.progress-line .javascript {
  width: 72%;
}
.progress-line .r {
    width: 62%;
  }
.progress-line .c {
  width: 68%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #07374a;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}


.progress-line .html::after {
  content: "80%";
}
.progress-line .css::after {
  content: "70%";
}
.progress-line .bootstrap::after {
  content: "82%";
}
.progress-line .javascript::after {
  content: "72%";
}
.progress-line .r::after {
    content: "62%";
  }
.progress-line .c::after {
  content: "68%";
}

/* ////........Media Query........//// */


.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#facf0f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 13px;
  height: 0px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #FACF0F;
}


.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

  @media (max-width: 800px) {
      .skills{
          width: 80%;
          top: 250px;
      }
  
      .skills-bar .bar .progress-line{
          width: 100%;
      }
  }